.table{
    /* border: 1px solid black; */
    table-layout: fixed;
    /* margin: 0px;
    padding: 0px; */
    /* border:0px; */
/* border-collapse:collapse; */
/* border-spacing:0px; */
}
.visual{
    overflow: auto;
    
}
tr{
    margin: 0px;
    padding: 0px;
    }
th{
    font-size: 0.8em;
}
td{
    height: 60px;
}


.appointment{
    /* border-radius: 5%; */
    padding: 10px;
    font-size: 0.8em;
    color:black;
    cursor: pointer;
    height: 60px;
}

.hoverclass {
    box-shadow: 0px 4px 8px 0px black;
  }

  .rowstart {
      /* position: fixed; */
      font-size: 0.8em;
      width: 5%;
      margin-left: 0;
  }

  .row {
      height: 10px;
      border-top: 1px solid rgb(102, 100, 100);
  }


  .marker{
      display: flex;
      flex-direction: column;
  }

  .item{
      font-size: 0.8em;
  }
  .item2{
      font-size: 0.6em;
  }